---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="meta">
      <div class="tag">
        {% for tag in post.tags %}
        <a href="/tags#tag_{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
      <div class="date">
        {{ post.date | date: "Posted on %Y.%m.%d" }}
      </div>
    </div>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pager">
  <div class="pagination">
    <li class="pre">
      {% if paginator.previous_page %}

      <a
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        ><span>&laquo;</span></a
      >

      {% else %}
      <a href="#"><span>&laquo;</span></a>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
    <li>
      {% if page == paginator.page %}
      <a href="#" class="active"
        ><span>{{ page }}</span></a
      >
      {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}"
        ><span>{{ page }}</span></a
      >
      {% else %}
      <a
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
        ><span>{{ page }}</span></a
      >
      {% endif %}
    </li>
    {% endfor %}
    <li class="next">
      {% if paginator.next_page %}
      <a
        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        ><span>&raquo;</span></a
      >
      {% else %}
      <a href="#"><span>&raquo;</span></a>
      {% endif %}
    </li>
  </div>
</div>
{% endif %}
